*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [60:5848]
:RH-Firewall-1-INPUT - [0:0]
-A INPUT -j RH-Firewall-1-INPUT
-A FORWARD -j RH-Firewall-1-INPUT
-A RH-Firewall-1-INPUT -i lo -j ACCEPT
-A RH-Firewall-1-INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
{% if zabbix_server_ip is defined %}
-A RH-Firewall-1-INPUT -p tcp -m state --state NEW -m tcp -s {{ zabbix_server_ip }} --dport 10050 -j ACCEPT
{% elif zabbix_server_ip_list is defined %}
{% for zabbix_server_temp_ip in zabbix_server_ip_list  %}
-A RH-Firewall-1-INPUT -p tcp -m state --state NEW -m tcp -s {{ zabbix_server_temp_ip }} --dport 10050 -j ACCEPT
{% endfor %}
{% endif %}
{% if ansible_server_ips is defined %}
{% for ip in ansible_server_ips %}
-A RH-Firewall-1-INPUT -p tcp -m state --state NEW -m tcp -s {{ ip }} --dport 22 -j ACCEPT
{% endfor %}
{% endif %}
{% if go_agent_ips is defined and 'go_cloud_clients' in group_names %}
{% for ip in go_agent_ips %}
-A RH-Firewall-1-INPUT -p tcp -m state --state NEW -m tcp -s {{ ip }} --dport 22 -j ACCEPT
{% endfor %}
{% endif %}
{% if iptables_allowed_ports_for_ip is defined %}
{% for rule in iptables_allowed_ports_for_ip %}
-A RH-Firewall-1-INPUT -p {{ rule.type }} -m state --state NEW -m {{ rule.type }} -s {{ rule.ip }} --dport {{ rule.number | replace("-",":") }} -j ACCEPT
{% endfor %}
{% endif %}
{% if iptables_allowed_ips is defined %}
{% for rule in iptables_allowed_ips %}
-A RH-Firewall-1-INPUT -m state --state NEW -s {{ rule.ip }} -j ACCEPT
{% endfor %}
{% endif %}
{% if iptables_allowed_ports is defined %}
{% for port in iptables_allowed_ports %}
-A RH-Firewall-1-INPUT -p {{ port.type }} -m state --state NEW -m {{ port.type }} --dport {{ port.number | replace("-",":") }} -j ACCEPT
{% endfor %}
{% endif %}
{% if iptables_allowed_port_range is defined %}
-A RH-Firewall-1-INPUT -p {{ iptables_allowed_port_range.type }} -m state --state NEW -m {{ iptables_allowed_port_range.type }} --dport {{ iptables_allowed_port_range.range | replace("-",":") }} -j ACCEPT
{% endif %}
{% if iptables_allowed_port_range is defined %}
{% for range in iptables_allowed_port_range %}
-A RH-Firewall-1-INPUT -p {{ range.type }} -m state --state NEW -m {{ range.type }} --dport {{ range.range | replace("-",":") }} -j ACCEPT
{% endfor %}
{% endif %}
{% for interface in network_ether_interfaces %}
{% if interface.address is defined and interface.address | ipaddr('private') %}
-A RH-Firewall-1-INPUT -i {{ interface.device }} -m state --state NEW -j ACCEPT
{% endif %}
{% endfor %}
{% for rule in iptables_extra_rules %}
{{ rule }}
{% endfor %}
-A RH-Firewall-1-INPUT -j DROP
COMMIT
